.wrapper {
  position: fixed;
  top: 60px;
  bottom: 0px;
  width: 240px;
  min-height: 1000px;
  background: rgb(255, 255, 255);
  padding-right: 8px;
}

.red-dot-icon {
  width: 6px;
  height: 6px;
  vertical-align: top;
}
